@import "color";

.landing-section {
  min-height: 100vh;
  background-image: url('/assets/img/background/halftone-yellow/halftone-yellow.png');
  // background-image: url('/assets/img/background/tree_bark/tree_bark.png');

  background-repeat: repeat;
  .logo-size {
    height: 200px;
  }
  color: white;
  h2 {
    font-size: 1.5rem;
  }
  hr {
    width: 80%;
    border-top: 7px solid white;
  }
  p {
    font-size:2.0rem !important;
   }
  .profile{
    height:200px;
    border-radius: 50%;
    border: 5px solid white
  }
}

@media (min-width: 576px) {
  .landing-section {
    p {
      font-size:2.0rem !important;
     }
    h2 {
      font-size: 2.0rem;
    }
    hr {
      width: 90%;
    }
    .profile{
      height:200px !important;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .landing-section {
    p {
      font-size:3.5rem !important;
     }
    hr {
      width: 75%;
    }
    .profile{
      height:250px !important;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .landing-section {
    p {
      font-size:3.5rem !important;
     }
    hr {
      width: 55%;
    }
    .profile{
      height:300px !important;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .landing-section {
    p {
      font-size:3.5rem !important;
     }
    hr {
      width: 45%;
    }
    .profile{
      height:325px !important;
    }
  }
}